[submodule "baselines"]
	path = baselines
	url = https://github.com/openai/baselines.git
[submodule "cs238_sepsis_rl"]
	path = cs238_sepsis_rl
	url = git@github.com:spfohl/cs238_sepsis_rl.git
[submodule "gym-sepsis"]
	path = gym-sepsis
	url = git@github.com:akiani/gym-sepsis.git
